services:
  mongodb:
    image: mongo:latest
    container_name: ssuspy-mongodb
    restart: always
    environment:
      - MONGO_USERNAME
      - MONGO_PASSWORD
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/init.js
      - mongo-data:/data/db
    healthcheck:
      test: mongosh --quiet --eval "db.getSiblingDB('ssuspy')"
      interval: 10s
      timeout: 1s
      retries: 10

  redis:
    image: redis:7
    container_name: ssuspy-redis
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 1s
      retries: 10

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: ssuspy-telegram-bot-api
    environment:
      - TELEGRAM_API_ID
      - TELEGRAM_API_HASH
      - TELEGRAM_LOCAL=true
      - TELEGRAM_STAT=true
    volumes:
      - telegram-bot-api-data:/var/lib/telegram-bot-api
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--output-document=/dev/null",
          "http://127.0.0.1:8082",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  bot:
    image: ghcr.io/sudora1n/spy-bot:latest
    restart: unless-stopped
    container_name: ssuspy-bot
    build: ./
    environment:
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_USERNAME
      - MONGO_PASSWORD
      - MONGO_DB
      - DEV_MODE
      - REDIS_HOST=redis
      - REDIS_USERNAME
      - REDIS_PASSWORD
      - REDIS_PORT
      - REDIS_DB
      - TELEGRAM_TOKEN
      - TELEGRAM_API_URL
      - GITHUB_URL
    volumes:
      - telegram-bot-api-data:/var/lib/telegram-bot-api/
    ports:
      - 8080:8080
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
      telegram-bot-api:
        condition: service_healthy

  # infra
  prometheus:
    image: prom/prometheus:latest
    container_name: ssuspy-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: ssuspy-node-exporter
    expose:
      - "9100:9100"

  grafana:
    image: grafana/grafana:latest
    container_name: ssuspy-grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      prometheus:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

volumes:
  telegram-bot-api-data:
  redis-data:
  mongo-data:
  prometheus-data:
  grafana-data:
