name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}:latest .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository }}:latest

  deploy:
    name: Deploy to Remote Server
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.2.2
        env:
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/$REMOTE_USER
            docker compose pull
            docker compose down
            docker compose up -d
