name: Build and Deploy

on:
  push:
    branches:
      - main
    paths:
      - "business_bot/**"
      - "creator_bot/**"
      - ".github/workflows/deploy.yml"

jobs:
  build_and_push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker compose -f compose-dev.yml --profile prod build

      - name: Push Docker image
        run: docker compose -f compose-dev.yml --profile prod push

  deploy:
    name: Deploy to Remote Server
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1
        env:
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          envs: REMOTE_USER
          script: |
            cd /home/$REMOTE_USER
            ./prepare.sh
            docker compose pull
            docker compose down
            docker compose --profile prod up -d
